@import url('https://fonts.googleapis.com/css?family=ABeeZee');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Questrial');

.cool{
  font-family: Quicksand;
}

.cool-font{
  font-family: Quicksand;
  font-size: 18px;
}
.card-head{
  font-family: Questrial;
}


#heading{
  background-color: WHITE;
  width: 100%;
  padding: 20px 20px 0px 90px;
  /* margin: 20px; */
}
#logo{
  /* padding: 10px 10px 10px 40px; */
  float: left;
}
#heading-text{
  /* margin-left: 30px; */
}
#card-head{
  margin-top: 30px;
  margin-bottom: 0;
  background-color: WHITE;
  padding: 0px;
  height: 100px;
}
#card-head-big{
  margin-top: 30px;
  margin-bottom: 0;
  background-color: WHITE;
  padding: 0px;
  height: 90px;
}
#card-text{
  margin: 20px;
  height: 100px;
}
#card-body{
  background-color: powderblue;
  height: 300px;
}
h3{
  font-weight: bold;
}
#knowing-individual-head1{
  background-color: powderblue;
  padding: 25px;
}
#knowing-individual-head2{
  background-color: gray;
  padding: 20px 10px 20px 80px;
}
#trans{
  background-color: transparent;
  margin-bottom: 0;
}
#trans-1{
  background-color: powderblue;
  margin-bottom: 15px;
  padding: 20px;
}
#outer-tab{
  padding: 20px;
}
#img-align{
  padding: 20px;
}
#intelligence{
  background-color: #C0C0C0;
  padding: 10px 0px 10px 30px;
}
#intelligence-text{
  padding: 30px 0 50px 20px;
}
#outer-box{
  background-color:  #C0C0C0 ;
  padding: 20px;
  max-height: auto;
}
#cards{
  margin: 20px 40px 0 40px;
}
#a{
  margin-top: 20px;
}
#b{
  background-color: powderblue;
}
#building-rapport{
  background-color: WHITE;
  /* margin: 20px 0 20px 0; */
  padding: 4px;
  text-align: center;
}
#rapport-outer{
  margin: 0px 90px 0px 90px;
}
#rapport-outer-2{
  background-color: yellow;
}
#rapport-inner{
  padding: 10px 20px 10px 20px;
}

#classroom-rules{
  background-color: WHITE;
  margin: 0px 0px 10px 0px;
  padding-bottom: 6px;
}
#classroom-rules-2{
  background-color: powderblue;
  margin-bottom: 0px;
  padding: 15px 80px 15px 15px;
}
#classroom-rules-3{
  padding: 5px 0 0 25px;
}
#method-teaching{
  margin: 0 20px 20px 20px;
}
#method-learning{
  margin: 0px 20px 20px 20px;
}
#methods-titles{
  background-color: red;
}
#method-learning-text{
  margin: 20px 0 20px 0;
}
#teach-learn{
  background-color: powderblue;
   padding: 20px;
}
#teach-learn-header{
  background-color: WHITE;
  padding:10px;
}
#teach-learn-img{
  padding: 0px 0 0 20px;
}
#head-long{
  background-color:  #800000 ;
  padding: 10px 0 0px 0;
  font-size: 17px;
  color: WHITE;
}
#bold{
  font-weight: bold;
}
#head-long-text{
  padding: 10px 0 10px 0;
}
#c{
  background-color: powderblue;
}
#teacher-strategy{
  margin: 0 20px 20px 20px;
  /* border: 6px solid black; */
}
#strategy-outer{
  margin: 20px;
  /* border: 2px solid red; */
}
#box{
  border:2px solid WHITE;
}
#text{
  padding: 5px;
  text-align: center;
}
#learner{
  padding: 10px;
}
#aspects{
  background-color: WHITE;
  margin: 0px 0px 10px 0px;
  padding-bottom: 6px;
}
#img{
  height: 800px;
}
#bottom-logo{
  height: 40px;
  width: 40px;
}
#bottom-text{
  padding: 15px 0 0 0;
}
#aaa{
  background-color: red;
}
#plain-white{
  background-color: WHITE;
  padding: 10px;
}
#last-section{
  background-color: powderblue;
}
#last-img{
  padding-left: 20px;
}
#last-img-2{
  padding: 70px 0 0 0;
}
