@import url('https://fonts.googleapis.com/css?family=ABeeZee');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Questrial');

.cool-font{
  font-family: Quicksand;
  font-size: 17px;
}
.card-head{
  font-family: Questrial;
  font-size: 15px;
}

#t1{
	background-color: #ffd699;
	border: 1px solid BLACK;
	margin-bottom: 20px;
  }
  #heading{
	background-color: WHITE;
	padding: 7px;
	margin-bottom: 20px;
  }

  .font{
	font-size: 30px;
  }
  th{
	text-align: center;
  }

  #t1 td{
	padding: 0px;
	border-color: BLACK;
  }

  #head{
	padding: 20px;
	font-size: 17px;
	border-color: BLACK;

  }
  #empty{
	padding: 20px;
  }


  #t2{
	background-color: #ebccff;
	margin-bottom: 20px;
  }
  #t2 tr, #t2 th, #t2 td {
	border-color: BLACK;
  }

  #t3{
	background-color: #ddff99;
	border: 1px solid BLACK;
	margin-bottom: 20px;
  }
  #t3 tr, #t3 th, #t3 td {
	border-color: BLACK;
  }
  #t4{
	background-color: #FDEEFB !important;
	border: 1px solid BLACK;
	margin-bottom: 20px;
  }
  #t4 td{
	padding: 0px;
	border-color: BLACK;
  }
  #vert-align{
	vertical-align: middle;
  }
  .text-vertical{
	transform: rotate(270deg);
  }
  .text-white{
	color: white;
	font-size: 14px;
  }
.main-color{
	background-color:#ffe6cc;
}
#classroom-rules{
	background-color: WHITE;
	margin: 0px 0px 10px 0px;
	padding-bottom: 6px;
}
#assg-objective{
	margin-top:-2px;
	background-color: #ffe6cc;
	padding: 25px;
}
#trans{
  background-color: transparent;
  margin-bottom: 0;
}
@import url('https://fonts.googleapis.com/css?family=ABeeZee');
#t1{
	background-color: #ffd699;
	border: 1px solid BLACK;
	margin-bottom: 20px;
  }
	.bordered{
		border: 1px solid BLACK;
	}

	.padding-big{
		padding: 15px;
	}
	.td-bordered{
		border: 1px solid BLACK;
		padding: 10px;
	}
  #heading{
	background-color: WHITE;
	padding: 7px;
	margin-bottom: 20px;
  }

  .font{
	font-size: 30px;
  }
  th{
	text-align: center;
  }

  #t1 td{
	padding: 0px;
	border-color: BLACK;
  }

  #head{
	padding: 20px;
	font-size: 17px;
	border-color: BLACK;

  }
  #empty{
	padding: 20px;
  }


  #t2{
	background-color: #ebccff;
	margin-bottom: 20px;
  }
  #t2 tr, #t2 th, #t2 td {
	border-color: BLACK;
  }

  #t3{
	background-color: #ddff99;
	border: 1px solid BLACK;
	margin-bottom: 20px;
  }
  #t3 tr, #t3 th, #t3 td {
	border-color: BLACK;
  }
  #t4{
	background-color: #ffb3e6;
	border: 1px solid BLACK;
	margin-bottom: 20px;
  }
  #t4 td{
	padding: 0px;
	border-color: BLACK;
  }
  #vert-align{
	vertical-align: middle;
  }
  .text-vertical{
	transform: rotate(270deg);
  }
  .text-white{
	color: white;
	font-size: 14px;
  }
.main-color{
	background-color:#ffe6cc;
}
#classroom-rules{
	background-color: WHITE;
	margin: 0px 0px 10px 0px;
	padding-bottom: 6px;
}
#assg-objective{
	margin-top:-2px;
	background-color: #ffe6cc;
	padding: 25px;
}
#trans{
  background-color: transparent;
  margin-bottom: 0;
}
