@import url('https://fonts.googleapis.com/css?family=ABeeZee');
.bordered{
  border: 1px solid BLACK;
}
.big-row{
  padding: 8px;
}
.cool-font{
  font-family: ABeeZee;
  font-size: 14px;
}
.cool{
  font-family: ABeeZee;
}

a:link{
  text-decoration: none;
}
#time-table-head{
  background-color: WHITE;
  margin-bottom: 0;
}
#time-table-head h1{
  font-weight: bold;
}
#time-table-1{
  background-color: #FFA07A;
  margin-top: 0;
}
#time-table-1 h1{
  color: WHITE;
  font-family: "Times New Roman";
}
#time-table-1 h5{
  font-family: "Times New Roman";
  font-weight: bold;
  color: WHITE;
}
#time-table-1 h2{
  color: WHITE;
}
#time-table-1-left{
  padding: 10px 0 5px 50px;
}
#time-table-1-right{
  padding: 10px 0 5px 50px;
}

#time-table-2{
  background-color: #c4ff4d;
  margin-top: 0;
  margin-top: 15px;
}
#time-table-2 h1{
  color: WHITE;
  font-family: "Times New Roman";
}
#time-table-2 h5{
  font-family: "Times New Roman";
  font-weight: bold;
  color: WHITE;
}
#time-table-2 h2{
  color: WHITE;
}
#time-table-2-left{
  padding: 10px 0 5px 50px;
}
#time-table-2-right{
  padding: 10px 0 5px 50px;
}


#time-table-3{
  background-color: #d580ff;
  margin-top: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}
#time-table-3 h1{
  color: WHITE;
  font-family: "Times New Roman";
}
#time-table-3 h5{
  font-family: "Times New Roman";
  font-weight: bold;
  color: WHITE;
}
#time-table-3 h2{
  color: WHITE;
}
#time-table-3-left{
  padding: 10px 0 5px 50px;
}
#time-table-3-right{
  padding: 10px 0 5px 50px;
}
#table-1{
  border: 1px solid BLACK;
}
#table-2{
  border: 1px solid BLACK;
}
#table-below{
  margin-bottom: 10px;
  border: 1px solid BLACK;
}
#brown{
  background-color: #FFA07A;
  font-weight: bold;
  font-family: "Times New Roman";
  font-size: 18px;
}
#green{
  background-color: #c4ff4d;
  font-weight: bold;
  font-family: "Times New Roman";
  font-size: 18px;
}
#violet{
  background-color: #d580ff;
  font-weight: bold;
  font-family: "Times New Roman";
  font-size: 18px;
}
/* th{
  text-align: center;
  background-color: #FFA07A;
} */

#tt-title1{
  font-weight: bold;
  font-family: "Times New Roman";
  font-size: 25px;
  background-color: #FFA07A;
  text-align: center;
}
#tt-title2{
  font-weight: bold;
  font-family: "Times New Roman";
  font-size: 25px;
  background-color: #c4ff4d;
  text-align: center;
}
#tt-title3{
  font-weight: bold;
  font-family: "Times New Roman";
  font-size: 25px;
  background-color:#d580ff;
  text-align: center;
}
table tr th.middle{
  vertical-align: middle;
  text-align: center;
}
table tr td.middle{
  vertical-align: middle;
  text-align: center;
}
.text-vertical{
  transform: rotate(270deg);
  /* height: 100%; */
  /* text-align: center; */
  /* position: absolute; */
  /* float: left; */
  /* vertical-align: middle; */
  /* font-family: "Times New Roman";
  font-size: 45px;
  font-weight: bold; */
  /* background-color: BLACK; */
   /* width: 50px;   */
}
#vert-align{
  vertical-align: middle;
}


body{
  background-color: white;
}
