
.block{
    padding: 20px;
    margin: 20px;
    background-color: white;

}
.user{
    padding: 30px;
    /* padding-top: 20px; */
    margin: 20px;
    background-color: white;
}
.left{
    float: left;
    font-size: 25px;
}
.right{
    float: right;
    /* position: relative; */
    /* align-items: center; */
}
.gap{
    margin-left: 20px;
}